body {
    background:#e1cdf9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(140, 89, 187);
    text-align: center;
}
h3 {
    color: rgb(140, 89, 187);
    text-align: center;
}
.projects{
    display:flex;
    flex-wrap:wrap;
}
.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(255, 255, 143);
    border-radius: 15%;
}
.project img{
    /* width:300px;
    height: 300px; */
    margin: 10px;
    border: 2px solid rgb(140, 89, 187);
    display: block;
    margin: auto;
}