body {
    background:#e1cdf9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(140, 89, 187);
    text-align: center;
}
.projects{
    display:flex;
    flex-wrap:wrap;
}
.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(255, 255, 143);
    border-radius: 15%;
}